body {
    width: 1920px;
    height: 1080px;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}


#date_heure {
    background-color: black;
    color: white;
    font-size: 39px;
    position: absolute;
    height: 80px;
    width: 253px;
    margin-top: 900px;
    text-align: center;
}

.bandeau2 {
    height: 80px;
    width: 1667px;
    position: absolute;
    background-color: #1db3cc;
    margin-left: 253px;
    margin-top: 900px;
}
.logo {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 300px;
}

#time {
     margin-top:10px;
}
ul li {
  font-size: 40px;
}
.visible {
  height: 55px !important;
}
.content {
  margin-top: 10px;
  margin-left: 10px;
}
/*.content {
  width: 237px;
  font-size: 36px;
  line-height: 40px;
  font-family: 'Muli';
  color: black;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -20px;
  margin-left: -900px;
}

.content:after,
.content:before {
  color: #16a085;
  font-size: 42px;
  animation: 5s linear 0s normal none infinite opacity;
  -webkit-animation: 5s ease-out 0s normal none infinite opacity;
  -moz-animation: 5s ease-out 0s normal none infinite opacity;
  -o-animation: 2s ease-out 0s normal none infinite opacity;
}
.visible {
  float: left;
  font-weight: 600;
  overflow: hidden;
  height: 40px;
}

ul {
  margin-top: 0;
  padding-left: 110px;
  text-align: left;
  list-style: none;
  animation: 6s linear 0s normal none infinite change;
  -webkit-animation: 15s linear 0s normal none infinite change;
  -moz-animation: 6s linear 0s normal none infinite change;
  -o-animation: 6s linear 0s normal none infinite change;
}
ul li {
  line-height: 40px;
  margin: 0;
  width: 1100px;
}
@-webkit-keyframes opacity {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes opacity {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes change {
  0% {
    margin-top: 0;
  }
  15% {
    margin-top: 0;
  }
  25% {
    margin-top: -40px;
  }
  40% {
    margin-top: -40px;
  }
  50% {
    margin-top: -80px;
  }
  65% {
    margin-top: -80px;
  }
  75% {
    margin-top: -40px;
  }
  85% {
    margin-top: -40px;
  }
  100% {
    margin-top: 0;
  }
}
@keyframes change {
  0% {
    margin-top: 0;
  }
  15% {
    margin-top: 0;
  }
  25% {
    margin-top: -40px;
  }
  40% {
    margin-top: -40px;
  }
  50% {
    margin-top: -80px;
  }
  65% {
    margin-top: -80px;
  }
  75% {
    margin-top: -40px;
  }
  85% {
    margin-top: -40px;
  }
  100% {
    margin-top: 0;
  }
}
*/