{% extends '::base.html.twig' %}

{% block body -%}
{{parent()}}
    <h1>Ajouter une video</h1>
<div class="line"></div>
<br>
    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a style="color:black" class="btn btn-default" href="{{ path('videos') }}">
            Retour à la liste
        </a>
    </li>
</ul>
{% endblock %}
